<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Story 7 - Adham Miftah</title>

    <style>
    	body {
    		background-image: linear-gradient(to right, #2980b9, #2c3e50);
    	}
    </style>
  </head>
<body style="text-align: center;">
<br>
<h1 style="color: white;">Confirm?</h1>
{%for data in form_data%}
<form method = "post">
	{% csrf_token %}
  <h3 style="color: white;">Name: {{data.name}} <br>
Status: {{data.status}}
</h3>
  <input type="hidden" id="name" name="name" value="{{data.name}}"><br>
  <input type="hidden" id="status" name="status" value="{{data.status}}"><br><br>
  <input id="submit2" type="submit" value="Submit">
</form> 
<a id ="cancel" href="{%url 'cancel'%}">Cancel</a>
{%endfor%}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  
</html>