{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Story 7 - Adham Miftah</title>

    <style>
    	body {
    		background-image: linear-gradient(to right, #2980b9, #2c3e50);
    	}
    </style>
  </head>
  	
  <body id="changetarget" style="text-align: center;">
	<div class="container">
		<br>
  	<h1 style="color: white;">Hello there!</h1>
  	

		<form method="POST" action="">
				{% csrf_token %}
				<p style="color: white;">Name: <input type="text" name="name"></p>
				<p style="color: white;">Status: <input type="text" name="status"></p>
				<input id="submit" class="btn btn-dark" type="submit" value="Submit">
		</form>
		<br>
		<button onclick="change()">Change background color</button>
		<br>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Date Created</th>
				</tr>
			</thead>
			<tbody>
			{% for i in datas %}
			<tr>
				<td style="color: white;">{{i.name}}</td>
				<td style="color: white;">{{i.status}}</td>
				<td style="color: white;">{{i.created_date}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    	function change() {
    		document.querySelector("body").style.background = "#eb3434";
    	}
    </script>
  </body>
  
</html>